apiVersion: apps/v1
kind: Deployment
metadata:
  name: cats-dogs-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cats-dogs-app
  template:
    metadata:
      labels:
        app: cats-dogs-app
    spec:
      imagePullSecrets:
      - name: regcred
      containers:
      - name: cats-dogs-app
        image: ezaz13/cats-dogs-classification:v2
#        image: ezaz13/cats-dogs-app:latest v20

        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5000
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 15
          periodSeconds: 20
        env:
        - name: MLFLOW_TRACKING_URI
          value: "sqlite:///mlflow.db"
